@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
	CARD

*/

.column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}



/*
Overlay on hover

*/
.card
{
position: relative;

}

.container {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;

  height:0;
  transition: .5s ease;
}

.card:hover .container {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.center-image {
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* styles for '...' */
.block-with-text {
    display: block; /* Fallback for non-webkit */
    text-align: center;
    display: -webkit-box;
    max-width: 400px;
    height: 62; /* Fallback for non-webkit */
    margin: 10px auto 0 auto;
    font-size: 24;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meta {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 50% 50%;
}

.meta .meta-item p {
    display: inline-block;
}

.meta .meta-item p.label {
    font-weight: bold;
    margin-right: 5px;
}

.date {
    position: absolute;
    top:10px;
    right: 10px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.card .container a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: darkslateblue;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
}

.card .container a:hover {
    color: white;
}