body
{
  font-family: "Times New Roman";
}
#chart-container {
  border-width:0 0 0 5px;
  border-style:solid
 }
 .row {
  border-width:0 0 0 5px;
  border-style:solid;
  border-color:rgba(255,100,127,0.8);
  background: linear-gradient(to bottom, #cfc, #dd1818);
 }
 
 #picked{
  text-align: center;
  padding-top: 5px;
  color: darkcyan;
  font-size: 1.5em;
}
 .column {
  float:left;
  width:48%;
  padding:0.6em
 }

 .card {
  box-shadow:1px 1px 1px 4px rgba(255,255,255,0.5 );
  position:relative;
  border-radius:5px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#cde1ff
 }
 .card:hover
{
  box-shadow:1px 1px 1px 6px rgba(255,255,255,1 );
}
 .container::after,
 .row::after {
  content:"";
  clear:both;
  display:table;
 }
 .container {
  position:absolute;
  top:0%;
  left:0;
  right:0;
  overflow:auto;
  height:1.5em;
  transition:.3s ease;
  color:#1b2631;
  background:rgba(255,255,255,.6);
  overflow: hidden;

 }
 .card:hover .container {
  height:75%;
  background:rgba(255,255,255,.5)
}
.card:hover .center-image{ 
  -webkit-filter: blur(15px);
      filter: blur(15px);
}
 .card .totalPopularity {
  position:absolute;
  text-align:center;
  width:100%;
  top:.25em;
  font-size: 18px;
  font-weight:600;

 }
 .center-image {
  height:23em;
  width:100%;
  background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

 }
 .block-with-text {
  display:block;
  text-align:center;
  margin:0;
  overflow:hidden;
  text-overflow:ellipsis;
  position:absolute;
  background:rgba(255,255,255,.6);
  bottom:32px
 }
 .meta {
  display:grid;
  grid-template-columns:50% 50%;
  grid-template-rows:50% 50%;
  padding:1em
 }
 .card a {
  position:absolute;
  bottom:0;
  text-align:center;
  background:rgba(180,180,255,0.4);
  line-height:2;
  width:100%;
  z-index:1;
  font-weight:900;
 }
 .card a:hover {
  background-color:#88f
 }
 

 @media screen and (max-width:1000px) {
  .column {
   width:94%;
   display:block
  }
    
 }