@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";

html {
    height: 100%;
}
body {
    /* background-color: lightyellow; */
    background: linear-gradient(120grad, rgb(100, 57, 134), rgb(152, 174, 213));
    margin: 0;
        font-family: "Dosis", tahoma, verdana;
}

header:after,
#timeline  {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}


header {
    background: #2b2e48;
    
}

header .logo {
    color: #ee4d4d;
    float: left;
    font-family: "Dosis", tahoma, verdana;
    font-size: 22px;
    font-weight: 500;
}

header .logo>span {
    color: #f7aaaa;
    font-weight: 300;
}


/*
     Form
*/
#form {
    font-size: xx-large;
    color: #303632;
    margin: 2em;
    padding: 0.4em;
    background-color: #eeeeee;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 1);
    line-height: 1.6;
    text-align: center;
    border-radius: 20px;
    /* box-shadow: 1px 1px 6px 6px white; */

}

/*
     Form - Inputs
*/

.choice{
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Dosis", tahoma, verdana;
    font-size: inherit;
border: 0px solid #aaa;
    border-bottom-width: 1px;
    background-color: rgba(100, 10, 10, 0.09);
    background-image: linear-gradient(#c4c4c4, #eee);
}


input[type="number"] {
    width: 3em;
 
}


