@import "https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700";


body {
    background-color: #5e387f;
    margin: 0;
    font-family: "Dosis", tahoma, verdana;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header:after,
#timeline  {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#aviframe {
    margin: 0 auto;
        background-color: #9e939f;
`
}

.headerContainer {
    max-width: 1100px;
    margin: 0 auto;
}


header {
    background: #2b2e48;

}

header .logo {
    color: #ee4d4d;
    float: left;
    font-family: "Dosis", tahoma, verdana;
    font-size: 22px;
    font-weight: 500;
}

header .logo>span {
    color: #f7aaaa;
    font-weight: 300;
}


/*
     Form
*/
#req {
    font-size: xx-large;
    color: #303632;
    margin: 2em;
    padding: 20px;
    line-height: 2;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 6px #2b2e99;
background-color: lightyellow;

}

/*
     Form - Inputs
*/

input, select{
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Dosis", tahoma, verdana;
    font-size: inherit;
border: 0px solid #aaa;
    border-bottom-width: 1px;
    background-color: rgba(100, 10, 10, 0.09);
         margin: 10px;

}


input[type="number"] {
    width: 3em;

}
