/* $green: #1AB188
$blue-background:#24323D */

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    max-height: fit-content;
    width: 100%;
    align-self: center;
    flex-direction: column;
    background-color: rgb(36, 50, 61);
}
label{
    font-size: large;
    font-family: "Times New Roman", monospace;
    color: rgba(#1a1a1a,0.3);
    color:rgba(255,255,255);
}
button[type=button]{
    background-color: #1AB188;
    color: white;
    border: none;
    border-radius: 2%;
    display: inline-block;
    padding: 0 2em;
}
div.input-group input{
    border: none;
    border-bottom:1px solid #1AB188;
    background-color: rgb(36, 50, 61);
    color: white;
}
::placeholder{
    color: white;
    opacity: 0.9;
    font-family: 'Times New Roman', Times, serif
}
.form-group{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: fit-content;

}