
body {

  margin: 0;
  flex-direction: column;
  justify-content: center;
  font-family: "Times New Roman";
}


/*
Form
*/
#req {
  font-size: xx-large;
  text-align: center;
  line-height: 1.5;
  border-width: 0px 0px 0px 5px ;
  border-style:solid;
  border-color: green; 
}

/*
Form - Inputs
*/

input, select{
  text-align: center;
  border-radius: 2px;
  font-family: inherit;
  font-size: 100%;
  border: 0px solid #aaa;
  border-bottom-width: 2px;
  background-color: rgba(100, 10, 10, 0.09);
  color: black;
}
input:hover, select:hover{
  background-color: rgba(154,205,50,0.5);
}
input[type="number"]
{
  width: 70px;
}
input[type="submit"]
{
  border-width: 3px;  
}
input[type="submit"]
{
  border-width: 3px;  
  border-radius: 10px;
  margin: 15px auto;
}
#buttonGroup
{
  display: block;  
}

/* Loading icon graphics  */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: rgba(255,205,50,1);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

#loaded 
{
  background-color: rgba(154,205,50,0.8);  
  padding: 2px;
  opacity: 0;
  animation: fadein 8s;
}
#loading{
  background-color: rgba(255,205,50,0.8);  
}
@keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}