#form{
 margin: 0.2em;
 border: 2px dotted gray;
 padding:0.2em;
 line-height:1.6;
 text-align: center;
}

.choice{
  text-align:center;
  border: 1px solid black;
  border-radius: 5px;
  font-weight:bold;
  margin:0.2em;
}
